[data-v-dd6aa328] .el-form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

[data-v-dd6aa328] .el-form .el-form-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

.plan-list[data-v-b7019b56] {
    max-height: 390px;
    overflow-y: scroll;
    min-width: 600px
}

.plan-list[data-v-b7019b56] .el-select {
    width: 100px
}

.plan-list[data-v-b7019b56] .el-select .el-input__suffix {
    right: 0;
    font-size: 12px
}

.plan-list[data-v-b7019b56] .el-select .el-input--suffix .el-input__inner {
    padding-right: 12px
}

.plan-list .commission-content span[data-v-b7019b56] {
    line-height: 1
}

[data-v-897d78a2] .el-row {
    margin-top: 20px
}

[data-v-897d78a2] .el-card p {
    text-align: center;
    line-height: 40px
}

.date-type.active[data-v-897d78a2] {
    color: #fff;
    background: #f56c6c
}

.plan-list[data-v-0e391f94] {
    max-height: 390px;
    overflow-y: scroll;
    min-width: 600px
}

.plan-list[data-v-0e391f94] .el-select {
    width: 100px
}

.plan-list[data-v-0e391f94] .el-select .el-input__suffix {
    right: 0;
    font-size: 12px
}

.plan-list[data-v-0e391f94] .el-select .el-input--suffix .el-input__inner {
    padding-right: 12px
}

.plan-list .commission-content span[data-v-0e391f94] {
    line-height: 1
}

[data-v-0e391f94] .el-transfer-panel {
    width: 300px
}

[data-v-0e391f94] .el-transfer-panel .el-transfer-panel__list {
    padding-bottom: 45px
}

[data-v-0e391f94] .el-transfer-panel .el-transfer-panel__item.el-checkbox {
    display: inherit
}

.m-index-wrap[data-v-dc3bf9e0] {
    padding: 20px
}

[data-v-dc3bf9e0] .el-tabs__content {
    padding-top: 10px;
    margin-top: 20px
}