.main {
    box-shadow: 0 0 .6rem 0 #7d7d7d4d;
    font-family: "PingFang SC,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif" !important;
    font-size: inherit;
    margin: auto;
    max-width: 520px;
    min-height: 100vh;
    -webkit-user-select: none;
    user-select: none;
    background-color: #5999f9;
}